* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 50px;
}

/* utilities */
#my_blue_text {
  color: #2881ff;
}
#my_white_text {
  color: white;
}
#my_grey_text {
  color: lightgrey;
  line-height: 1.6;
}
#my_box_logo {
  height: 200px;
  width: 100%;
}
#my_second_p {
  line-height: 0.5;
}


/* header navbar */
.navbar {
  background-color: white;
}
.navbar-header span {
 background-color: #3a8aff;
}
.my_navbar {
  font-size: 10px;
}
.my_navbar a {
  color: black;
}
#my_logo {
  height: 100%;
}



/* help bot section */
.my_help {
  left: 0;
  right: 100px;
}
.two_container {
  height: 70px;
  width: 70px;
  padding: 20px;
}
.img_container {
  height: 50px;
  width: 50px;
  background-color: #006aff;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 50px;
  margin-left: 70px;
}

#my_help_text {
  max-width: 300px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 50px;
  margin-right: 50px;
  margin-left: 70px;
}


/* jumbotron & form */
#my_jumbo {
  padding: 30px 20px;
  background-image: url(https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg);
  background-size: cover;
  width: 100%;
  background-repeat: no-repeat;
}
.my_form {
  padding: 20px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}
#my_sign {
  background-color: #579aff;
  border-color: #579aff;
}
#my_g_sign {
  background-image: url("../img/google-icon.png");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
}
form p {
  padding-top: 10px;
}

/* claim & sponsor section */
.claim_sponsor {
  background-color: #f3f5f9;
}
.claim_sponsor h5 {
  text-transform: uppercase;
}
.claim_sponsor h5,
.claim_sponsor p {
  padding-top: 20px;
}

/* deploy section */
#my_list {
  color: grey;
  border-left: 2px solid #ddd;
  border-right: 0;
  border-bottom: 0;
  border-top: 0;
  border-radius: 0;
}
#my_droplets {
  padding-top: 20px;
}

/* designed section */
.designed {
    background-color: #f3f5f9;
}
.designed img{
    width: 80%;
    padding: 30px;
}
#my_circles {
  padding-top: 30px;
  padding-bottom: 20px;
}


/* features section */
#features_section {
  padding: 30px 0;
}



/* customer section */
.customer_section {
  background-color: #00219c;
  color: white;
  padding: 30px 0;
}
.customer_section a {
  color: #00d5d1;
}
.customer_section p {
  color: lightgrey;
}


/* development section */
.development_section {
  background-color: #f3f5f9;
}
#bold_paragraph {
  font-weight: bold;
}
#my_white_box {
  padding: 30px 0;
  margin: 30px 30px;
  background-color: white;
}


/* get started section */
.get_started_sec {
  background-color: #0039b3;
  padding: 30px 0;
  color: white;
}
.my_btn {
  color: #1276ff;

}
/* footer section */
.my_footer {
  background-color: #031c4e;
  padding-top: 30px;
}
.my_footer ul {
  list-style: none;
}
.my_footer li:first-child {
  font-weight: bold;
  color: white;
}
.my_footer li,
.my_footer p,
.my_footer i {
  color: grey;
}
#my_social_group {
  padding-bottom: 20px;
}
